@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15vh;
    background-color: var(--fondo);
    font-family: 'Montserrat', sans-serif;
}
img{
    width: 100%;
}
.rompecabezas{
    position: relative;
    width: 50vh;
    height: 50vh;    
    border-radius: 10px;
    border: 15px solid var(--borde);
    background-color: var(--fondo);
}
.pieza{
    position: absolute;
    left: 0;
    top: 0;
    width: 33.4%;
    height: 33.4%;
    color: var(--numero);
    font-size: 10vh;
    font-weight: bold;
    text-align: center;
    padding-top: 3%;
    cursor: pointer;
    user-select: none;
    transition: left 0.2s, top 0.2s;
}
.pieza-dark{
    background-color: var(--pieza-dark);
}
.pieza-light{
    background-color: var(--pieza-light);
}
.data{
    width: 50vh;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: var(--fondo);
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .rompecabezas{
        width: 40vh;
        height: 40vh;
    }
    .pieza{
        width: 33.4%;
        height: 33.4%;
        font-size: 6vh;
    }
  }